.logo-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    font-size: 20px;
    margin-left: 5px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.menu{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.menu li a{
    padding: 10px 5px;
    transform: 0.3s;
    margin-left: 15px; ;
}

.menu li a:hover{
    background-color: #5BC241;
    color: white;
}

.menu li a.cadastro{
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 5px;
}

.titulo{
    color: #000;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }

body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

ul{
    display: flex;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    color: #000;
}

a{
    text-decoration: none;
}